<html>

<head>
    <meta content="en-us" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>

<body>

    <p>
        Prezado {{nome}},
    </p>

    <p>
        {{mensagem}}
    </p>

    <br/>

    <p>DESCRIÇÃO: </p>
    <p>Apartamento com um dormitório, cozinha e banheiro.</p>
    <p>Rua Tabatinguera, 470 - 1º andar - bairro Liberdade - São Paulo/SP</p>
    <p>Documentação em dia e escritura de compra e venda.</p>
    <p>Condomínio no valor R$ 320,00, contando porteiro 24 horas, interfone, elevador, tv a cabo, lavanderia coletiva e serviço
        de limpeza no prédio.</p>
    <p>Contato: John (11) 98766-5830 ou Custodio (11) 3105-5468.</p>

    <br/>

    <p>Atenciosamente,</p>
    <p>John Kaick</p>
    <p>(11) 98766-5830</p>

</body>

</html>